* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font: 16px "Poppins", Arial, sans-serif;
  font-weight: 500;
  color: #121214ec;
}

input,
textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
}

button,
.checkmark {
  cursor: pointer;
}
